@import "./src/variables";
.tile-content {
    position: relative;
}

.tile-icon-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 18px);
    grid-template-rows: repeat(2, 18px);
    border: solid 1px $gray-color-light;
}

.tile-absolute-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}